* {
	box-sizing: border-box;
}

@font-face {
	font-family: ds;
	src: url(../fonts/ds.ttf);
}

@font-face {
	font-family: mononoki;
	src: url(../fonts/mononoki.ttf);
}

@font-face {
	font-family: dot gothic;
	src: url(../fonts/DotGothic16-Regular.ttf);
}

:root {
	--c1: #6c464fff;
	--c2: #9e768fff;
	--c3: #9fa4c4ff;
	--c4: #b3cdd1ff;
	--c5: #b3b379;
	--dark: #5d3d44;
	--light: rgba(253, 254, 237, 0.837);
	--lightv2: rgba(239, 240, 202, 0.453);
	--fonts: ds, ms pgothic, arial;
	/* fonts.... */
}

::selection {
	color: var(--c1);
	background: var(--dark);
}

body {
	background-image: url(/_files/imgs/assets/bg.png);
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	margin: 0px;
	font-family: var(--fonts);
	background-color: var(--bg);
	font-size: 20px;
	word-break: keep-all;
	word-spacing: 3px;
	line-height: 20px;
	color: var(--dark);
	height: 100%;
}

html {
	scrollbar-color: var(--dark) var(--c5);
}

li {
	list-style-position: inside;
	margin: 5px;
}

ul li {
	list-style-type: "☆ ";
	&::marker {
		color: var(--c4);
	}
	ul li {
		&::marker {
			color: var(--c2);
		}
	}
}
/* make this better bruh */
ol li {
	list-style-type: decimal-leading-zero;
	&::marker {
		color: var(--c1);
	}
	ol li::marker {
		color: var(--c2);
		ul li::marker {
			color: var(--c4);
		}
	}
	ul li {
		list-style-type: "☆ ";
		&::marker {
			color: var(--c3);
		}
		ol li::marker {
			color: var(--c2);
			ul li::marker {
				color: var(--c4);
			}
		}
	}
}

code {
	font-family: mononoki;
	font-size: 0.9rem;
	border: 1px solid var(--dark);
	background-color: var(--c2);
	padding: 0px 2px;
	color: var(--light);
}

pre code {
	display: block;
}

h1 {
	filter: drop-shadow(1px 1px 2px var(--lightv2))
		drop-shadow(1px 1px 2px var(--lightv2))
		drop-shadow(-1px -1px 2px var(--lightv2))
		drop-shadow(-1px -1px 2px var(--lightv2));
	color: var(--c1);
	letter-spacing: 2px;
	font-weight: normal;
}

h2 {
	color: var(--c4);
}

h3 {
	color: var(--c3);
}

h4 {
	color: rgb(160, 172, 236);
}

hr {
	margin: 20px auto;
	width: 90%;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 3px dotted var(--c2);
}

b {
	color: var(--c5);
}

i {
	text-shadow: 1px 1px 2px var(--c2);
}

blockquote {
	border-left: 1px solid var(--c1);
	padding-left: 20px;
}

h2,
h3,
h4 {
	&::before,
	&::after {
		content: "✦";
		padding: 0px 5px;
		font-size: 0.7em;
	}
}

mark {
	background: var(--c3);
	color: var(--dark);
	border-radius: 5px;
	padding: 1px;
}

q {
	font-style: italic;
}

summary {
	cursor: help;
}

figure {
	border: 2px dashed var(--c4);
	border-radius: 10px;
	text-align: center;
	img {
		max-width: 100%;
	}

	figcaption {
		padding: 10px;
	}
}

a {
	color: var(--c2);
	&:hover {
		text-decoration: line-through;
	}
}

[href^="https"]::after {
	content: "↗";
	padding-left: 2px;
	vertical-align: text-bottom;
}

header {
	margin-top: 50px;
	text-align: center;
}

main {
	display: flow-root;
	background: var(--light);
	margin: 10px auto;
	border-radius: 20px;
	max-width: 800px;
	padding: 20px;
	transition-duration: 0.5s;
	border: 2px solid var(--c2);
}

nav {
	display: block;
	z-index: 10;
	text-align: center;
	position: sticky;
	top: 0px;
	margin: auto;
	padding: 10px 10px;
	color: var(--c5);

	a {
		position: relative;
		display: block-inline;
		color: #d4d4b1;
		background: var(--c2);
		padding: 5px 9px;
		text-decoration: none;
		border-radius: 15px;

		&:hover {
			text-decoration: none;
			animation-name: nav-ani-in;
			animation-direction: normal;
			animation-iteration-count: initial;
			animation-fill-mode: forwards;
			animation-duration: 0.5s;
			animation-timing-function: ease-in-out;
		}

		&:not(:hover) {
			animation-name: nav-ani-out;
			animation-iteration-count: initial;
			animation-fill-mode: forwards;
			animation-duration: 0.5s;
			animation-timing-function: ease-in-out;
		}
	}
}
@keyframes nav-load {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes nav-ani-out {
	0% {
		background: var(--c1);
		top: -5px;
	}
	100% {
		background: var(--c2);
		top: 0px;
	}
}

@keyframes nav-ani-in {
	0% {
		background: var(--c2);
		top: 0px;
	}
	100% {
		background: var(--c1);
		top: -5px;
	}
}

p {
	margin: 0px;
	padding: 10px;
}

.homepage-img {
	float: right;
	opacity: 0.97;
	width: 46%;
	shape-outside: url(/_files/imgs/assets/me.png);
	shape-margin: 5px;
	margin-right: -70px;
	transition-duration: 0.4s;
	&:hover {
		opacity: 1;
	}
}

.homepage-img-alt {
	display: none;
	float: left;
	opacity: 0.97;
	width: 30%;
	shape-outside: url(/_files/imgs/assets/creature.png);
	shape-margin: 8px;
	transition-duration: 0.4s;
	&:hover {
		opacity: 1;
	}
}

footer {
	filter: drop-shadow(1px 1px 1px var(--c1)) drop-shadow(1px 1px 1px var(--c1))
		drop-shadow(-1px -1px 1px var(--c1)) drop-shadow(-1px -1px 1px var(--c1));
	color: #e2e6ff;
	font-size: 0.9em;
	margin-top: 20px;
	text-align: center;
	padding: 20px;
	a {
		color: inherit;
	}
	p {
		margin: 2px 0px;
		padding: 0;
	}
}

select#font-picker {
	background: var(--light);
	font-family: inherit;
	font-size: inherit;
	color: var(--dark);
	border: 1px solid var(--c5);
	border-radius: 5px;
	option {
		font-size: 0.8rem;
		font-family: inherit;
	}
}

#s-m-t-tooltip {
	max-width: 400px;
	text-align: center;
	z-index: 9999;
	margin: 30px 15px 7px 12px;
	padding: 5px;
	border-radius: 5px;
	color: var(--dark);
	background-color: var(--c1);
	border: 2px solid var(--dark);
}

@media only screen and (max-width: 700px) {
	.homepage-img {
		float: none;
		display: block;
		margin: auto;
		width: 70%;
	}
}

@media only screen and (max-width: 400px) {
	h1 {
		font-size: 26px;
		line-height: 40px;
	}
}
