* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: ds, ms pgothic;
  font-size: 20px;
  word-spacing: 3px;
  line-height: 20px;
}

html {
  scrollbar-color: rgb(223, 121, 169) rgb(160, 172, 236);
}

nav a {
  display: inline-block;
  padding: 2px 30px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 10px;
  margin: 5px 10px;
}

nav a.active {
  background: rgb(55, 147, 54);
  color: white;
}

h1 {
  line-height: 30px;
  color: rgb(112, 76, 72);
}

h2 {
  color: rgb(223, 121, 169);
}

h3 {
  color: rgb(207, 194, 51);
}

h4 {
  color: rgb(160, 172, 236);
}

a {
  color: rgb(55, 147, 54);
}

a:hover {
  text-decoration: line-through;
}

header {
  margin-top: 10px;
  text-align: center;
}

main {
  margin: auto;
  max-width: 900px;
  padding: 20px;
}

.img {
  float: right;
  margin: 10px;
  border-radius: 20px;
  width: 50%;
}

@font-face {
  font-family: ds;
  src: url(files/ds.ttf);
}
