* {
	box-sizing: border-box;
}

:root {
	--pink: #edafb8;
	--green: #b0c4b1;
	--choco: #483939;
}

::selection {
	color: var(--pink);
	background: var(--choco);
}

body {
	background: rgb(176, 196, 177);
	background: linear-gradient(
		171deg,
		rgb(199, 219, 200) 0%,
		rgba(247, 225, 215, 1) 50%,
		rgb(236, 194, 200) 100%
	);
	margin: 0px;
	font-family: ds, ms pgothic;
	font-size: 20px;
	word-spacing: 3px;
	line-height: 20px;
	color: var(--choco);
}

html {
	scrollbar-color: rgb(236, 187, 210) rgb(149, 167, 146);
}

h1,
h2,
h3,
h4 {
	text-shadow: 2px 2px 2px white;
}

h1 {
	color: var(--choco);
}

h2 {
	color: var(--choco);
}

h3 {
	text-align: center;
	color: var(--choco);
}

h4 {
	color: rgb(160, 172, 236);
}

hr {
	margin: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	width: 90%;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 3px dotted var(--choco);
}

a {
	color: rgb(60, 90, 146);
}

a:hover {
	text-decoration: line-through;
}

[href^="https"]::after {
	content: "↗";
	padding-left: 2px;
	vertical-align: text-bottom;
}

header {
	margin-top: 50px;
	text-align: center;
}

main {
	margin: auto;
	max-width: 900px;
	padding: 20px;
}

p {
	margin: 0px;
	padding: 10px;
	transition-duration: 0.5s;
}

p:hover {
	border-radius: 10px;
}

p:hover::before {
	content: "⋆⭒˚.⋆ ";
	color: var(--choco);
}

.img {
	float: right;
	margin: 50px 20px;
	opacity: 0.7;
	border-radius: 100%;
	border: 2px dashed rgb(99, 98, 108);
	width: 26%;
	transition-duration: 0.4s;
}

.img:hover {
	opacity: 1;
}

footer {
	margin-top: 20px;
	text-align: center;
	padding: 40px 10px;
}

#s-m-t-tooltip {
	max-width: 400px;
	text-align: center;
	z-index: 9999;
	margin: 30px 15px 7px 12px;
	padding: 5px;
	border-radius: 5px;
	border: 5px double black;
	background-color: rgb(191, 199, 247);
}

@font-face {
	font-family: ds;
	src: url(files/ds.ttf);
}
