<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/files/favicon.gif">
  <title>{{ title }}</title>
  <link href="/files/css/body.css?0727" rel="stylesheet">
  <!-- make if statement in case theres no custom css -->
  <link href="/files/css/{{ cssFile }}.css?0727" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  <script src="/files/tooltip-jquary.js"></script>
  <script src="/files/tooltip.js"></script>
</head>

<body>
  <header>
    <h1><span style="color:var(--c3)">✦</span><span style="color:var(--c4)">•</span><span style="color:var(--c2)">๑</span><span style="color:var(--c5)">⋯</span> {{ title }} <span style="color:var(--c5)">⋯</span><span style="color:var(--c2)">๑</span><span style="color:var(--c4)">•</span><span style="color:var(--c3)">✦</span></h1>
    <nav><a href="/">index</a> - <a href="/projects">projects</a> - <a href="/blog">blog</a> - <a href="/contact">contact</a></nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <!-- same for here!-->
    <p>last updated on <b>{{ date-updated }}</b></p>
    <p>coded with love by des, built with <a href="https://11ty.dev" target="_blank">11ty</a></p>
    <p><b>credit:</b> font: <a href="https://fontmeme.com/fonts/nintendo-ds-bios-font/" target="_blank">nintendo DS BIOS</a>, tooltip: <a href="manos.malihu.gr/style-my-tooltips-jquery-plugin/" target="_blank">style-my-tooltips</a></p>
    </p>
  </footer>
</body>

</html>