main {
	max-width: 1300px;
}

.wrapper {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	justify-content: center;

	h4,
	p {
		text-align: center;
		margin: 8px;
	}

	section {
		background: rgba(246, 244, 245, 0.686);
		border-radius: 10px;
		border: 1px dashed rgb(160, 172, 236);
		width: 380px;
		height: auto;
		padding: 20px;
		margin: 10px 20px;
		display: inline-block;
		overflow: auto;

		img {
			width: 100%;
			border-radius: 10px;
		}
	}
}

@media only screen and (max-width: 820px) {
	.wrapper section {
		width: 100%;
	}
}
